<!-- The Content Heading -->
 
<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>

<!-- Message Block -->

<%# messages() %>

<!-- Register Form -->

<div class="form-container">
  <form id="registerForm" action="/account/register" method="POST">
  <label for="account_firstname">First Name:</label><br>
  <input type="text" id="account_firstname" name="account_firstname" required><br><br>

  <label for="account_lastname">Last Name:</label><br>
  <input type="text" id="account_lastname" name="account_lastname" required><br><br>

  <label for="account_email">Email:</label><br>
  <input type="text" id="account_email" name="account_email" required><br><br>

  <label for="account_password">Password:</label><br>
  <input type="password" id="account_password" name="account_password" required
         pattern="^(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9])[\s\S]{12,}$"
         title="Password must be at least 12 characters long, with at least 1 capital letter, 1 number, and 1 special character"><br><br>

  <button type="submit">REGISTER</button><br><br>
</form>
</div>