<nav>
     <button class="menu-toggle" id="menu-toggle">☰</button>
    <ul id="nav-list">
        <li>aaa</li>
        <li>bbb</li>
        <li>ccc</li>
        <li>ddd</li>
        <li>aaa</li>
    </ul>
</nav>
