<!-- The Content Heading -->
 
<% if (title) { %>
  <h1><%= title %></h1>
<% } %>


<!-- Message Block -->

<%- messages() %>

<!-- The Inventory Management Display -->

<div class="management-links">
    <ul>
        <li><a href="/inv/addVehicle">Add new Vehicle</a></li>
        <li><a href="/inv/addClassification">Add new Classification</a></li>
    </ul>
</div>