<!-- The Content Heading -->
 
<% if (title) { %>
  <h1><%= title %></h1>
<% } %>


<!-- Message Block -->

<%- messages() %>

<!-- The Inventory Management Display -->

<div class="management-links">
    <ul>
        <li><a href="/inv/addVehicle">Add new Vehicle</a></li>
        <li><a href="/inv/addClassification">Add new Classification</a></li>
    </ul>
</div>

<h2>Manage Inventory</h2>

<p>Choose a classification to see those vehicles in inventory</p>


<!-- Select list -->
<%- classificationSelect %>

<!-- Empty table -->
<table id="inventoryDisplay"></table>

<!-- Noscript warning -->
<noscript>JavaScript must be enabled to use this page.</noscript>

<!-- JS file -->
<script src="../../js/inventory.js"></script>
